  <%= turbo_frame_tag "cart" do %>
  <% if @link_cart%>
    <h1><%= link_to "Cart", @cart %> </h1>
  <% else %>
    <h1>Cart</h1>
  <% end %>
    <% if @cart.orders.count > 0 %>
      <%= render "cart/orders" %>
      <p>Total: <%= @cart.total %></p>
    <% else %>
      <p>Your cart is empty</p>
    <% end %>
  <% end %>
