<p style="color: green"><%= notice %></p>

<h1><%= link_to "Subcategories", @subcategory %> </h1>

<div id="subcategories">
  <% @subcategories.each do |subcategory| %>
    <p>
      <%= link_to subcategory.name, subcategory %>
    </p>
  <% end %>
</div>

<%= link_to "New subcategory", new_subcategory_path %>
