<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= link_to category.name, category %>
  </p>

  <p>
    <strong>Subcategories:</strong>
    <% category.subcategories.each do |subcategory| %>
      <p>
        <%= link_to subcategory.name, subcategory %>
      </p>
    <% end %>
  </p>

</div>
